# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ouput of the build-binaries script
build/dist

# .DS_Store file of MacOS
.DS_Store

# test data files
**/testdata/**